* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

*::selection{
  background-color: rgba(0, 255, 255, 0.13);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: aliceblue;
  flex-direction: column;
  font-family: Source Code Pro, monospace;
  font-size: 1.2em;
  position: relative;
  
}

.big-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

/* --------INDEX-------- */

#index {
  align-content: center;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 100vw;
  z-index: 40;
}

a {
  text-decoration: none;
}

#index a {
  color: #581e8f;
}

/* --------HEADER-------- */
#header {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 120vh;
  overflow: hidden;
}

#front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 700px;
  position: absolute;
}

#front-div-1 {
  display: grid;
  height: 100%;
  grid-template-rows: 1.8fr 1.2fr;
}

#scrl {
  cursor: pointer;
  align-self: end;
  border-radius: 100%;
  justify-self: center;
  text-align: center;
  color: aqua;
  opacity: 50%;
  font-size: 50px;
  width: 100px;
  height: 100px;
}

#images {
  overflow: hidden;
  width: 100%;
  
}

.poligons {
  height: 300px;
}

.imgs {
  position: absolute;
  pointer-events: none;
}

#img1 {
  animation: ani1 7.5s linear infinite;
  top: 0;
}

#img2 {
  animation: ani2 7.5s linear infinite;
  top: 0;
  right: 0;
}

#img3 {
  animation: ani3 7.5s linear infinite;
  right: 200px;
}

#img4 {
  animation: ani4 7.5s linear infinite;
  left: 300px;
  top: 100px;
  height: 100px;
}

#img5 {
  animation: ani5 7.5s linear infinite;
  left: 100px;
}

@keyframes ani5 {
  0% { transform: rotate3d(0, 0, 0) scale(1); }
  25% { transform: rotate3d(-0.25, -0.5, -0.25, 
    90deg
    ) scale(1); }
 50% { transform: rotate3d(-0.5, -1, -0.5, 
    180deg
    ) scale(1.5); }
  75% { transform: rotate3d(-0.75, -1.5, -0.75, 
    270deg
    ) scale(1); }
  100% { transform: rotate3d(-1, -2, -1, 
    360deg
    ) scale(1); }
}

@keyframes ani2 {
  0% { transform: rotate3d(0, 0, 0) scale(1); }
  25% { transform: rotate3d(-0.25, -0.5, -0.25, 
    30deg
    ) scale(1); }
 50% { transform: rotate3d(-0.5, -1, -0.5, 
    80deg
    ) scale(1.5); }
  75% { transform: rotate3d(-0.75, -1.5, -0.75, 
    200deg
    ) scale(1); }
  100% { transform: rotate3d(-1, -2, -1, 
    360deg
    ) scale(1); }
}

@keyframes ani1 {
  0% { transform: rotate3d(0, 0, 0) scale(1); }
  25% { transform: rotate3d( 0.75, 1.5, 0.75,
    100deg
    ) scale(1); }
 50% { transform: rotate3d(1, 0.5, 1, 
    120deg
    ) scale(0.5); }
  75% { transform: rotate3d(2, 1, 0.5, 
    150deg
    ) scale(1); }
  100% { transform: rotate3d(0.25, 0.5, 1, 
    360deg
    ) scale(1); }
}

@keyframes ani4 {
  0% { transform: rotate3d(0, 0, 0) scale(1); }
  25% { transform: rotate3d(-0.25, -0.5, -0.25, 
    50deg
    ) scale(1.5); }
 50% { transform: rotate3d(-0.5, 1, -0.5, 
    80deg
    ) scale(1); }
  75% { transform: rotate3d(0.75, -1.5, -0.75, 
    180deg
    ) scale(1); }
  100% { transform: rotate3d(-1, -2, 1, 
    360deg
    ) scale(1); }
}

@keyframes ani3 {
  0% { transform: rotate3d(0, 0, 0) scale(1); }
  25% { transform: rotate3d(0.25, 0.5, 0.25, 
    80deg
    ) scale(1); }
 50% { transform: rotate3d(0.1, 1, 0.5, 
    100deg
    ) scale(1); }
  75% { transform: rotate3d(0.75, 2, 1, 
    280deg
    ) scale(2); }
  100% { transform: rotate3d(2, 1, 0.5); }
}

#topmain {
  top: 0;
}

/* --------TEXTO ANIMADO-------- */
#hero-title-container {
  display: flex;
  height: 75px;
  width: 610px;
  align-self: end;
}

#title-text {
  animation: animated-text 2s steps(20,end) 1s 1 normal both;
  white-space: nowrap;
  overflow: hidden; 
  font-family: Source Code Pro, monospace;  
  font-size: 2.8em;
  font-weight: 400;
}

#text-cursor {
  animation: animated-cursor 600ms steps(30,end) infinite;
  background-color: aqua;
  height: 100%;
  right: 0;
  width: 1.7em;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 610px}
}

@keyframes animated-cursor{
  from{background-color: aqua;}
  to{background-color: transparent;}
}

/* --------PERFIL/MENSAGEM-------- */
#message-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 560px;
}

#profile img {
  border: 10px solid rgba(255, 255, 255, 0.336);
  border-radius: 100%;
  width: 140px;
  pointer-events: none;
}

#about {
  background-image: linear-gradient(rgb(25, 181, 209), rgb(62, 59, 255));
  border-radius: 10px;
  color: white;
  font-family: Asap, sans-serif;
  line-height: 1.3em;
  padding: 20px;
  height: fit-content;
}

/* --------MAIN-------- */
#main {
  align-items: center;
  background-color: #300e57;
  padding-top: 120px;
}

.container {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 2fr;
}

.right-item {
   margin-left: 4em;
}

/* --------HABILIDADES-------- */
#skills {
  margin-bottom: 100px;
  justify-content: space-between;
}

#skills li {
  line-height: 2.5em;
}

#skills li::before {
  content: '+';
  padding-right: 1em;
  color: yellow;
}

#skills ul {
  list-style: none;
}

.s-text {
  font-size: 0.9em;
  text-indent: 2em;
}

.s-text::before {
  content: '🡦';
  padding-right: 1em;
  color: yellow;
}

/* --------PROJETOS-------- */
#carousel-wrap {
  width: 100vw;
}

.project {
  align-content: center;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 5px;
  display: flex;
  flex: none;
  height: 200px;
  justify-content: center;
  padding: 10px 0 15px;
  margin: 30px;
  width: 400px;
}

.project a {
  height: 80%;
  width: 90%;
}

.project p {
  color: white;
}

.project-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.project-title img {
  height: 0.8em;
}

.print-div {
  background-size: cover;
  background-position: 50%;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.flickity-page-dots .dot {
  opacity: 1;
  background: transparent;
  border: 2px solid rgb(63, 216, 216);
}

.dot.is-selected {
  background: rgb(63, 216, 216);;
}

#pixel-art {
  background-image: url(images/thumbnail/pix-art.png);
}

#todo-list {
  background-image: url(images/thumbnail/todo-list.png);
}

/* --------LINKS-------- */
#links {
  margin: 7em 0;
  line-height: 2em;
}

#links a {
  color: yellow;
}

/* --------CONTATO-------- */
#contact {
  margin-bottom: 10%;
  position: relative;
  line-height: 2em;
}

#contact a {
  color: yellow;
}

#contact p {
  z-index: 300;
}

#git-1 {
  animation: git 3s linear infinite;
  position: absolute;
  left: 50%;
  top: -100px;
  visibility: hidden;
}

#lin-1 {
  animation: git 3s linear infinite;
  position: absolute;
  left: 50%;
  top: -100px;
  visibility: hidden;
}

footer {
  padding: 3% 10% 10%;
}

@keyframes git {
  0% { transform: rotate3d(0, 0, 0) scale(1); }
  25% { transform: rotate3d(-0.25, -0.5, -0.25, 
    90deg
    ) scale(1); }
 50% { transform: rotate3d(-0.5, -1, -0.5, 
    180deg
    ) scale(1); }
  75% { transform: rotate3d(-0.75, -1.5, -0.75, 
    270deg
    ) scale(1); }
  100% { transform: rotate3d(-1, -2, -1, 
    360deg
    ) scale(1); }
}