:root {
  --purple: #420085;
  --yellow: #FFE921;
  --blue: #00FFF0;
  --pink: #D355FF;
}

* {
  box-sizing: border-box;
  font-family: monospace;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  align-items: center;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--blue);
  letter-spacing: 0.3rem;
}

body a:hover {
  color: var(--yellow);
}

/* ------------------------------------------------//
//                     HOME                        //
//------------------------------------------------ */

.home a {
  font-size: 1.5rem;
}

/* ------------------------------------------------//
//                      MENU                       //
//------------------------------------------------ */

.menu {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 80vh;
}

.menu-links {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.menu-links a {
  font-size: 1.5rem;
  margin: 1rem;
}

.menu-links a:hover {
  font-size: 2rem;
  margin: 0.7rem;
}

/* -------------------MESSAGE--------------------- */

.message-container {
  /* border: 1px solid white; */
  align-items: center;
  display: flex;
  justify-content: center;
}

.message-image {
  background-color: palegoldenrod;
  border-radius: 100%;
  height: 10em;
  margin: 1rem;
  pointer-events: none;
}

.message-image img {
  border-radius: 100%;
  height: 100%;
}

.message-container p {
  background-color: var(--pink);
  border: 5px solid black;
  border-radius: 1rem;
  box-shadow: -5px 5px 0 grey;
  color: black;
  font-size: 1.3rem;
  margin: 1rem;
  padding: 2em;
}
/* ------------------------------------------------//
//                   NAVIGATION                    //
//------------------------------------------------ */

.navigation {
  /* border: 1px solid white; */
  display: grid;
  grid-template-rows: 3fr 1fr 6fr ;
  height: 90vh;
  width: 90vw;
}

.navigation-links {
  display: flex;
  justify-content: space-around;
  margin: 3rem;
  width: 100%;
}

.navigation-links a {
  font-size: 1.2rem;
  color: var(--purple);
}

.navigation-links a:hover {
  color: var(--yellow);
}

.navigation-links a:focus {
  color: var(--yellow);
}

/* ------------------------------------------------//
//                     SKILLS                      //
//------------------------------------------------ */

.stack {
  color: var(--yellow);
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2rem;

}

.fundamentals {
  grid-area: fundamentals;
}

.frontend {
  grid-area: front;
}

.backend {
  grid-area: back;
}

.bonus {
  animation: blink infinite 1s;
  grid-area: bonus;
  /* justify-content: flex-end; */
  justify-self: center;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'fundamentals front back'
    'bonus bonus bonus'
    ;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.stack div {
  animation: rotateIcons 2s infinite;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid grey;
  border-radius: 0.2rem;
  box-shadow: inset -1px 1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(53, 53, 53);
  height: 3rem;
  margin-bottom: 2rem;
  width: 3rem;
  align-self: center;
}

.stack div:hover {
  animation: hovingIcons 2ms infinite;
}

.stack li {
  line-height: 2rem;
  list-style: '🡪 ' inside;
}

.stack li:hover {
  font-size: 1.5rem;
}

/* ------------------------------------------------//
//                    PROJECTS                     //
//------------------------------------------------ */

.projects {
  overflow: hidden;
}

.project a {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 9fr;
}

.project p {
  color: black;
  font-weight: 600;
}

.project {
  background-color: darkgrey;
  border-radius: 0.8rem;
  height: 200px;
  margin: 1rem;
  padding: 0 1rem 1rem;
  width: 350px;
  border: 4px solid black;
  box-shadow: -5px 5px 0 grey;
}

.project-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.project-title img {
  height: 0.8em;
}

.project-thumbnail {
  border: 2px solid black;
  background-size: cover;
  border-radius: 5px;
}

@keyframes blink {
  from { opacity: 0.3; }
  to   { opacity: 1; }
}

@keyframes rotateIcons {
  from { transform: rotateIcons3d(0, 0, 0, 0deg); }
  to   { transform: rotate3d(0, 1, 0, 360deg); }
}

@keyframes hovingIcons {
  from { transform: rotateIcons3d(0, 0, 0, 0deg); }
  to   { transform: rotate3d(0, 1, 0, 180deg); }
}
