:root {
  --purple: #420085;
  --yellow: #FFE921;
  --blue: #00FFF0;
  --pink: #D355FF;
}

* {
  box-sizing: border-box;
  font-family: monospace;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--blue);
  letter-spacing: 0.3rem;
}

body a:hover {
  color: var(--yellow);
}

/* ------------------------------------------------//
//                     HOME                        //
//------------------------------------------------ */

.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.front {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.hero-title-container {
  display: flex;
  height: 5rem;
  margin: 4rem;
  width: 46rem;
}

.hero-title-container h1 {
  animation: animated-text 2s steps(20,end) 1s 1 normal both;
  font-family: monospace;
  font-size: 4rem;
  font-weight: 400;
  overflow: hidden; 
  white-space: nowrap;
}

.hero-title-container div {
  animation: animated-cursor 600ms steps(30,end) infinite;
  background-color: var(--blue);
  height: 100%;
  right: 0;
  width: 3rem;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 610px}
}

@keyframes animated-cursor{
  from{background-color: var(--blue);}
  to{background-color: transparent;}
}

.home a {
  animation: blink 2s infinite;
  font-size: 1.5rem;
}

/* -------------------BACKGROUND--------------------- */

.background {
  display: grid;
  grid-template-areas:
  'bg1 bg4 bg4 bg2'
  'bg5 bg5 bg5 bg3'
  ;
  height: 100%;
  position: absolute;
  width: 120%;
}

.background img {
  height: 300px;
}

.background img:nth-of-type(1) {
  animation: bg1 7.5s linear infinite;
  grid-area: bg1;
}

.background img:nth-of-type(2) {
  animation: bg2 7.5s linear infinite;
  grid-area: bg2;
}

.background img:nth-of-type(3) {
  animation: bg3 7.5s linear infinite;
  grid-area: bg3;
}

.background img:nth-of-type(4) {
  animation: bg4 7.5s linear infinite;
  grid-area: bg4;
  height: 100px;
}

.background img:nth-of-type(5) {
  animation: bg5 7.5s linear infinite;
  grid-area: bg5;
}

@keyframes bg1 {
  0% { transform: rotate3d(0, 0, 0) scale(1); }
  25% { transform: rotate3d( 0.75, 1.5, 0.75,
    100deg
    ) scale(1); }
 50% { transform: rotate3d(1, 0.5, 1, 
    120deg
    ) scale(0.5); }
  75% { transform: rotate3d(2, 1, 0.5, 
    150deg
    ) scale(1); }
  100% { transform: rotate3d(0.25, 0.5, 1, 
    360deg
    ) scale(1); }
}

@keyframes bg2 {
  0% { transform: rotate3d(0, 0, 0) scale(1); }
  25% { transform: rotate3d(-0.25, -0.5, -0.25, 
    30deg
    ) scale(1); }
 50% { transform: rotate3d(-0.5, -1, -0.5, 
    80deg
    ) scale(1.5); }
  75% { transform: rotate3d(-0.75, -1.5, -0.75, 
    200deg
    ) scale(1); }
  100% { transform: rotate3d(-1, -2, -1, 
    360deg
    ) scale(1); }
}

@keyframes bg3 {
  0% { transform: rotate3d(0, 0, 0) scale(1); }
  25% { transform: rotate3d(0.25, 0.5, 0.25, 
    80deg
    ) scale(1); }
 50% { transform: rotate3d(0.1, 1, 0.5, 
    100deg
    ) scale(1); }
  75% { transform: rotate3d(0.75, 2, 1, 
    280deg
    ) scale(2); }
  100% { transform: rotate3d(2, 1, 0.5); }
}

@keyframes bg4 {
  0% { transform: rotate3d(0, 0, 0) scale(1); }
  25% { transform: rotate3d(-0.25, -0.5, -0.25, 
    50deg
    ) scale(1.5); }
 50% { transform: rotate3d(-0.5, 1, -0.5, 
    80deg
    ) scale(1); }
  75% { transform: rotate3d(0.75, -1.5, -0.75, 
    180deg
    ) scale(1); }
  100% { transform: rotate3d(-1, -2, 1, 
    360deg
    ) scale(1); }
}

@keyframes bg5 {
  0% { transform: rotate3d(0, 0, 0) scale(1); }
  25% { transform: rotate3d(-0.25, -0.5, -0.25, 
    90deg
    ) scale(1); }
 50% { transform: rotate3d(-0.5, -1, -0.5, 
    180deg
    ) scale(1.5); }
  75% { transform: rotate3d(-0.75, -1.5, -0.75, 
    270deg
    ) scale(1); }
  100% { transform: rotate3d(-1, -2, -1, 
    360deg
    ) scale(1); }
}

/* ------------------------------------------------//
//                      MENU                       //
//------------------------------------------------ */

.menu {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 80vh;
}

.menu-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-links a {
  font-size: 1.5rem;
  line-height: 4rem;
}

.menu-links a:hover {
  font-size: 3rem;
}

/* -------------------MESSAGE--------------------- */

.message-container {
  /* border: 1px solid white; */
  align-items: center;
  display: flex;
  justify-content: center;
}

.message-image {
  background-color: palegoldenrod;
  border-radius: 100%;
  height: 10em;
  margin: 1rem;
  pointer-events: none;
}

.message-image img {
  border-radius: 100%;
  height: 100%;
}

.message-container p {
  background-color: var(--pink);
  border: 5px solid black;
  border-radius: 1rem;
  box-shadow: -5px 5px 0 grey;
  color: black;
  font-size: 1.3rem;
  margin: 1rem;
  padding: 2em;
}
/* ------------------------------------------------//
//                   NAVIGATION                    //
//------------------------------------------------ */

.navigation {
  display: grid;
  grid-template-rows: 3fr 1fr 6fr ;
  height: 90vh;
  width: 90vw;
}

.navigation-links {
  display: flex;
  justify-content: space-around;
  margin: 3rem;
  width: 100%;
}

.navigation-links a {
  font-size: 1.2rem;
  color: var(--purple);
}

.navigation-links a:hover {
  color: var(--yellow);
}

.navigation-links a:focus {
  color: var(--yellow);
}

/* ------------------------------------------------//
//                     SKILLS                      //
//------------------------------------------------ */

.stack {
  color: var(--yellow);
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2rem;

}

.fundamentals {
  grid-area: fundamentals;
}

.frontend {
  grid-area: front;
}

.backend {
  grid-area: back;
}

.bonus {
  animation: blink infinite 1s;
  grid-area: bonus;
  justify-content: center;
  justify-self: center;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'fundamentals front back'
    'bonus bonus bonus'
    ;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.stack div {
  align-self: center;
  animation: rotateIcons 2s infinite;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid grey;
  border-radius: 0.2rem;
  box-shadow: inset -1px 1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(53, 53, 53);
  height: 3rem;
  margin-bottom: 2rem;
  width: 3rem;
}

.stack div:hover {
  animation: hovingIcons 2ms infinite;
}

.stack li {
  line-height: 2rem;
  list-style: '🡪 ' inside;
}

.stack li:hover {
  font-size: 1.5rem;
}

/* ------------------------------------------------//
//                    PROJECTS                     //
//------------------------------------------------ */

.flickity-enabled:focus-visible {
  outline: none;
}

.projects {
  overflow-x: hidden;
  padding: 1rem;
  text-decoration: none;
}

.project a {
  display: grid;
  height: 100%;
  grid-template-rows: 2fr 9fr;
}

.project p {
  color: black;
  font-weight: 600;
}

.project {
  background-color: darkgrey;
  border: 4px solid black;
  border-radius: 0.8rem;
  box-shadow: -5px 5px 0 grey;
  height: 200px;
  padding: 0 1rem 1rem;
  width: 350px;
  transform: scale(90%);
}

.project:hover {
  transform: scale(100%);
}

.project-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.project-title img {
  height: 0.8em;
}

.project-thumbnail {
  border: 2px solid black;
  background-size: cover;
  border-radius: 5px;
}

@keyframes blink {
  from { opacity: 0.3; }
  to   { opacity: 1; }
}

@keyframes rotateIcons {
  from { transform: rotateIcons3d(0, 0, 0, 0deg); }
  to   { transform: rotate3d(0, 1, 0, 360deg); }
}

@keyframes hovingIcons {
  from { transform: rotateIcons3d(0, 0, 0, 0deg); }
  to   { transform: rotate3d(0, 1, 0, 180deg); }
}

/* ------------------------------------------------//
//                     CONTACT                     //
//------------------------------------------------ */

.contact {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.contact-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  z-index: 10;
}

.contact-links a {
  color: var(--yellow);
  font-size: 1.5rem;
  line-height: 4rem;
}

.contact-links a:hover {
  font-size: 3rem;
}

.github {
  animation: rotate 3s linear infinite;
  bottom: -10rem;
  filter: invert(1);
  position: absolute;
  right: 5rem;
  visibility: hidden;
}

.linkedin {
  animation: rotate 3s linear infinite;
  bottom: -10rem;
  filter: invert(1);
  left: 5rem;
  position: absolute;
  visibility: hidden;
}

@keyframes rotate {
  from { transform: rotate3d(0, 0, 0, 360deg) }
  to { transform: rotate3d(0, 1, 0, 360deg)}
}